.products-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    justify-content: center;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

.products-section-wrapper {
    background-color: var(--color-light-grey);
}

.department-bar {
    transition: margin 150ms ease-in-out;
}

.dipartment-bar-hidden {
    margin-top: -50px;
}