.search-bar {
    height: 2.8rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    border-radius: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.search-bar input {
    border: none;
    width: 14rem;
    outline: none;
}

.search-bar button {
    border: none;
    background-color: transparent;
    width: 2rem;
    justify-self: right;
}