.department {
    display: flex;
    overflow: auto;
}

.dep-btn {
    border: none !important;
}

.dep-btn:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.dep-btn-selected {
    border: none !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}