.product-item {
    width: 14rem;
    margin: 1rem;
    padding: 1rem;
}

.product-item-image {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}

.add-to-cart-btn {
    width: 12rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: var(--color-two);
    margin-bottom: 1rem;
    font-size: 15px;
}

.add-to-cart-btn-change {
    display: flex;
    align-items: center;
}

.add-to-cart-btn-change button {
    margin: 0.2rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 0.8rem;
    border: none;
    color: var(--color-two);
    background-color: white;
}

.add-to-cart-btn-change button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.add-to-cart-btn-change button:disabled {
    background-color: var(--color-two);
}

.add-to-cart-btn-change button:disabled:hover {
    background-color: var(--color-two);
}

.product-item-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.product-item-unit {
    font-size: 0.9rem;
}

.product-item-name {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}